<nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation" id="nav-main-home">
	<div class="container">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-main-items">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Socitrad</a>
		<div class="collapse navbar-collapse nav-main-items">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-items-first"><a href="#">item1</a></li>
				<li class="nav-items-first"><a href="#">item2</a></li>
				<li class="nav-items-first"><a href="#">item3</a></li>
				<li class="margin-xs-left" data-toggle="modal" data-target="#signin-modal"><button type="button" class="btn btn-default navbar-btn">Se connecter</button></li>
			</ul>
		</div>
	</div>
</nav>
