<section class="section navbar navbar-default home-page" id="clients-banner">
	<div class="container">
		<ul class="row">
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img class="" data-src="holder.js/100%x180" alt="..." src="data/pictures/">
				</a>
			</li>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img class="" data-src="holder.js/100%x180" alt="..." src="data/pictures/">
				</a>
			</li>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img class="" data-src="holder.js/100%x180" alt="..." src="data/pictures/">
				</a>
			</li>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img class="" data-src="holder.js/100%x180" alt="..." src="data/pictures/">
				</a>
			</li>
		</ul>
	</div>
</section>