<section class="section navbar navbar-default home-page" id="clients-banner">
	<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
		<ul class="row text-center">
			<div class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img alt="" src="/assets/partners/phonoid.png">
				</a>
			</div>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img alt="" src="/assets/partners/80-limit.png">
				</a>
			</li>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img alt="" src="/assets/partners/phonoid.png">
				</a>
			</li>
			<li class="col-md-3">
				<a href="#" class="thumbnail partner">
					<img alt="" src="/assets/partners/80-limit.png">
				</a>
			</li>
		</ul>
	</div>
</section>