<section id="home-header" class="home-page">
	<div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
		<div class="jumbotron">
			<h1>Hello World !</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In explicabo neque ipsa itaque accusantium eaque molestiae sequi voluptates repellat quidem. Aliquam, eveniet, iure dolor tenetur vero modi nostrum veritatis possimus!</p>
			<h2><a class="btn btn-primary btn-warning btn-lg btn-inscription" href="#" data-toggle="modal" data-target="#signup-modal">S'inscrire</a></h2>
		</div>
	</div>
</section>