
<section id="home-services" class="section">
	<div class="container">
		<div class="page-header text-center">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit !</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="glyphicon glyphicon-globe"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, doloremque eaque possimus delectus dignissimos accusamus ipsam aut illo. Tenetur, odit deleniti minima velit aperiam ut obcaecati consectetur voluptatum beatae explicabo.</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="glyphicon glyphicon-cog"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quaerat perspiciatis incidunt recusandae architecto ut iusto totam excepturi laudantium. Deserunt, officiis blanditiis ea impedit asperiores laborum eveniet aliquid numquam perferendis.</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="glyphicon glyphicon-pencil"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, ipsum qui molestiae voluptates hic tenetur laboriosam assumenda magni dolor id? Voluptates, quaerat atque saepe pariatur tempore ipsam eveniet obcaecati blanditiis?</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
		</div>
		<div class="row margin-md-bottom">
			<div class="col-md-4">
				<div class="glyphicon glyphicon-file"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, reiciendis, nobis vel nesciunt praesentium voluptatem recusandae sint possimus ex amet consectetur quidem exercitationem labore blanditiis iste maiores rerum minus doloremque.</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="glyphicon glyphicon-folder-open"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, corrupti eligendi ea iste nulla placeat aperiam maxime. Quisquam, cumque error est amet recusandae neque harum distinctio laudantium. Nesciunt, optio, quasi.</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="glyphicon glyphicon-briefcase"></div>
				<div class="caption">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ipsa, at repellat ducimus officiis omnis consectetur ea nesciunt alias inventore eaque quibusdam nostrum tenetur nam provident voluptatibus sequi ratione atque.</p>
					<p>
						<a href="#">Read More</a> 
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="text-left signup pager">
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit !</p>
			<a class="btn btn-primary btn-warning btn-lg" href="#" data-toggle="modal" data-target="#signup-modal">S'inscrire</a>
		</div>
	</div>
</section>