<div class="col-lg-8 col-sm-9">
  <div class="panel-group" id="projects">
    <ul class="list-group pull-left col-lg-12 col-sm-12 no-padding no-margin" id="projects-heading">
      <li class="list-group-item col-lg-12 col-sm-12 pull-left no-padding">
        <h4 class="no-margin pull-left col-lg-12 col-sm-12 no-padding">
          <span class="pull-left">Projects</span>
          <span class="badge pull-left margin-xs-left"><%= @projects.count %></span>
        </h4 >
        <button class="btn btn-default btn-lg btn-primary pull-right" id="btn-new-project" data-toggle="modal" data-target="#newproject-modal">new project</button>
      </li>
    </ul>

    <%# @projects.each do |project| %>
      <%#= render 'project', :project => project %>
    <%# end %>

    <%= render @projects %>
  </div>
</div>
