
<div class="col-lg-8 col-sm-9">  
	<div class="panel-group" id="projects">
		<ul class="list-group pull-left col-lg-12 col-sm-12 no-padding no-margin" id="projects-heading">
			<li class="list-group-item col-lg-12 col-sm-12 pull-left no-padding">
				<h4 class="no-margin pull-left col-lg-12 col-sm-12 no-padding">
					<span class="pull-left">Projects</span>
					<span class="badge pull-left margin-xs-left"><%= @projects.count %></span>
				</h4 >
				<button class="btn btn-default btn-lg btn-primary pull-right" id="btn-new-project" data-toggle="modal" data-target="#newproject-modal">new project</button>
				<!-- modal New-Project -->
				<div class="modal fade" id="newproject-modal" tabindex="-1" role="dialog" aria-labelledby="new project" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h1 class="modal-title text-center" id="">New project</h1>

							</div>
							<div class="modal-body">
								<form role="form" id="form-newproject">
									<div class="form-group">
										<label for="title-newproject">Title</label>
										<div class="input-group input-group-lg">
											<span class="input-group-addon"><i class="fa fa-font"></i></span>
											<input type="text" class="form-control" id="title-newproject" placeholder="Title Project">
										</div>
									</div><!-- /.form-group -->
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" >Ok</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal --> 
			</li>
		</ul>
		<% cpt=0 %>

		<% @projects.each do |project| %>
		
		<%
			idProject = '<div class="panel panel-default" id="project-1">'.html_safe
		%>
			
		<%= idProject %>

		<!-- <div class="panel panel-default" id="project-1"> -->

			<div class="panel-heading pull-left panel-document" data-toggle="collapse" data-parent="#projects" data-target="#project-1-content">

				<div class="panel-title pull-left">
					<div class="project-title col-lg-6 col-sm-7">
						<a href="#" class="document-version"><small><%= project.name %></small></a>
					</div>
					<div class="col-lg-3 col-sm-2">
						<span data-toggle="tooltip" title="nombre de segments traduits"><small>36/60</small></span>
					</div>
					<div class="col-lg-3 col-sm-3">
						<div class="panel-title progress progress-striped" data-toggle="tooltip" title="60% Complete">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
							</div>
						</div>
					</div>
				</div>

			</div>

			<div id="project-1-content" class="pull-left panel-collapse collapse col-lg-12 col-sm-12 no-padding">
				<ul class=" panel-body list-group no-margin">
					<li class="list-group-item pull-left col-lg-12 col-sm-12">
						<ul class="list-unstyled">
							<li class="col-lg-7 col-sm-5"><a href="#" class="document-version">EN > NL</a></li>
							<li class="col-lg-3 col-sm-3">
								<ul class="list-unstyled" data-toggle="tooltip" title="nombre de segments traduits">
									<li>
										<small>36/60</small>
									</li>
								</ul>
							</li>
							<li class="col-lg-2 col-sm-4 no-padding">
								<ul class="progress progress-striped col-lg-12 col-sm-12 no-padding pull-left" data-toggle="tooltip" title="60% Complete">
									<li class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="list-group-item pull-left col-lg-12 col-sm-12">
						<ul class="list-unstyled">
							<li class="col-lg-7 col-sm-5"><a href="#" class="document-version">EN > ES</a></li>
							<li class="col-lg-3 col-sm-3">
								<ul class="list-unstyled" data-toggle="tooltip" title="nombre de segments traduits">
									<li>
										<small>36/60</small>
									</li>
								</ul>
							</li>
							<li class="col-lg-2 col-sm-4 no-padding">
								<ul class="progress progress-striped col-lg-12 col-sm-12 no-padding pull-left" data-toggle="tooltip" title="60% Complete">
									<li class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									</li>
								</ul>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
		<% end %>
	</div> 
</div>