<!-- modal Login -->
<div class="modal fade" id="newproject-modal" tabindex="-1" role="dialog" aria-labelledby="new project" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title text-center" id="">Nouveau projet</h1>

      </div>
      <div class="modal-body">
        <form role="form" id="form-newproject">
          <div class="form-group">
            <label for="title-newproject">Titre</label>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-font"></i></span>
              <input type="text" class="form-control" id="title-newproject" placeholder="Titre de projet">
            </div>
          </div><!-- /.form-group -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 