<!-- modal Add coworker -->
<div class="modal fade" id="modal-add-co-worker" tabindex="-1" role="dialog" aria-labelledby="add coworker" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title text-center">Add a co-worker</h1>
      </div>
      <div class="modal-body">
        <div class="list-group clearfix">
          <div class="list-group-item">
            <h2 class="no-margin">Co-worker</h2>
          </div>
          <div class="list-group-item pull-left">
            <div class="co-worker" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
            <div class="co-worker" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
            <div class="co-worker" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
            <div class="co-worker" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
            <div class="co-worker" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
            <div class="co-worker last-item" data-toggle="tooltip" data-placement="bottom" title="co-worker name">
              <i class="fa hover-hide col-lg-12 no-padding"></i>
              <img src="/assets/members/avatar.png" alt="co-worker name">
            </div>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <h2 class="no-margin">Inviting</h2>
          </div>
          <div class="list-group-item">
            <form role="form" id="form-co-worker">
              <div class="form-group">
                <label for="inviting-translation" class="sr-only">Inviting</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                    <i class="fa fa-group"></i>
                  </span>
                  <input type="email" class="form-control" id="inviting-translation" placeholder="Enter email or name">
                </div>
              </div><!-- /.form-group -->
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 