<nav id="nav-main-interface" class="navbar navbar-default navbar-fixed-top navbar-static-top navbar-inverse no-padding" role="navigation">
  <div class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
    <ul class="nav navbar-nav col-lg-8 col-sm-8 col-lg-offset-2">
      <li class="col-lg-8 col-sm-9 infos-project no-padding">
        <a href="#" class="pull-left col-lg-9 col-sm-9">
          <span class="col-lg-9 title-project">Titre du projet</span>
        </a>
        <a href="#" class="pull-left col-lg-3 col-sm-3 no-padding">
          <span class="text-right pull-left no-padding">FR > EN</span>
        </a>      
      </li>
      <li class="col-lg-2 col-sm-3 nb-segments no-padding" data-toggle="tooltip" title="nombre de segments traduits">
        <a href="#">240<i> / </i>600</a>
      </li>
    </ul>
    <ul class="nav navbar-nav friends-avatars col-lg-4 col-sm-4 no-padding">
      <div class="nav navbar-nav navbar-right">
        <li class="show-friends visible-sm">
          <a href="#">
            <i class="fa fa-angle-left"></i>
          </a> 
        </li>
        <li class="member">
          <a href="#" data-toggle="modal" data-target="#modal-co-worker"><img src="" alt"" class=""></a>
        </li>
        <li class="coworker">
          <a href="#" data-toggle="modal" data-target="#modal-co-worker"><img src="" alt"" class="hidden-sm hidden-xs"></a>
        </li>
        <li class="coworker">
          <a href="#" data-toggle="modal" data-target="#modal-co-worker"><img src="" alt"" class="offline hidden-sm hidden-xs"></a>
        </li>
        <li class="coworker">
          <a href="#" data-toggle="modal" data-target="#modal-co-worker"><img src="" alt"" class="offline hidden-sm hidden-xs"></a>
        </li>
        <li class="coworker">
          <a href="#" data-toggle="modal" data-target="#modal-add-co-worker"><i class="fa fa-plus primary" data-toggle="tooltip" title="add a co-worker"></i></a>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-lg-8 col-sm-8 pull-left">
    <div id="panel-document-options-navbar" class="col-sm-12 visible-sm pull-left">
      <div class="switch" id="all-empty-segment">
        <div class="switch-label">
          <a href="#">All</a>
        </div>
        <div class="switch-btn">
          <a href="#"></a>
        </div>
        <div class="switch-label">
          <a href="#">Empty</a>
        </div>
      </div>
      <div id="next-empty-segment" class="btn btn-primary no-padding" data-toggle="tooltip" title="Next empty segment">
        <a href="#next-seg">
          <i>Next</i>
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
</nav> 
