<section class="row navbar-fixed-bottom" id="translation-bar">
	<aside class="col-lg-3 col-sm-3 side-left">
		<div class="side-left-wrap">
			<div class="list-group no-margin">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Lorem Ipsum</h4>
					<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Lorem Ipsum</h4>
					<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Lorem Ipsum</h4>
					<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
				</a>
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Lorem Ipsum</h4>
					<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
				</a>
			</div>
		</div>
	</aside>
	<div class="col-lg-6 col-sm-6 translation-bar-main">
		<form role="form">
			<div class="form-group no-margin">
				<div class="well" id="segment-original">
					<blockquote class="no-margin">{{segments[selected].source}}</blockquote>
				</div>
				<label for="segmentTranslate" class="sr-only">Segment to translate</label>
				<textarea id="segmentTranslate" class="form-control" ng-model="segments[selected].target"></textarea>
			</div>
		</form>
	</div>
	<!-- Nav tabs -->
	<aside class="col-lg-3 col-sm-3 side-right">
		<div class="nav-content">
			<ul class="nav nav-tabs no-padding">
				<li class="active"><a href="#comments" data-toggle="tab">Commentaires</a></li>
				<li><a href="#historic" data-toggle="tab">Historique</a></li>
			</ul>
		</div>
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="comments">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
					</a>
				</div>
			</div>
			<div class="tab-pane" id="historic">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Lorem Ipsum</h4>
						<p class="list-group-item-text">Lorem ipsum dolor sit.</p>
					</a>
				</div>
			</div>
		</div>
	</aside>
</section>
