<%= render 'tab' %>
<div id="page-listing">
	<%= render 'projects/nav' %>
	<section class="section margin-xl-top" id="member-main">
		<div class="container">
			<div class="row">
				<%= render 'listing' %>
				<%= render 'memberAside' %>
			</div>
		</div>
	</section>
</div>