.page {
	float: left;
	width: 100%;
	padding-top: 80px;
}
section.section {
	margin-bottom: 30px;
	float:left;
	width: 100%;
}
#nav-main-home li a,
#nav-main-interface {
	text-transform: uppercase;
}
/* footer */
#footer #nav-footer {
	padding: 30px 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
#footer .navbar ul{
	margin:0;
}
#footer .navbar {
	border-top:  1px solid #eeeeee;
}
#footer #nav-footer .panel-title {
	padding:10px 0;
	text-transform: uppercase;
}
#footer #nav-footer li.list-group-item{
	border:0;
	padding:5px 15px;
}
#footer .navbar li {
	margin-left: 0;
}
#footer .navbar li a:last-child {
	padding-right: 0;
}
/* /footer */

#nav-main .nav-main-items .nav-items-first:hover{
	background-color: #eeeeee;
}

/* \ nav-main-member */
#nav-main-member {
	z-index: 1040;
}
#nav-main-member .form-group {
	padding-left:0;
	padding-right:0;
	margin-right:0;
}
#nav-main-member .form-group input{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
#nav-main-member .input-group-btn {
	padding-left: 0;
}
#nav-main-member .dropdown-toggle .drop-item i {
	width:20%;
}
#nav-main-member .dropdown-toggle .drop-item span {
	width:60%;
}
/* / nav-main-member */

/* #nav-subnav-member {
	-moz-box-shadow: 0px 5px 5px 3px #c5c5c5;
-webkit-box-shadow: 0px 5px 5px 3px #c5c5c5;
box-shadow: 0px 5px 5px 3px #c5c5c5;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 10, direction = 180, color = '#c5c5c5');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 10, Direction = 180, Color = '#c5c5c5')";
Shadows look very different in IE (Only cardinal directions supported)
INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES
Element should have a background-color
All filters must be placed together
IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS
IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS

} */

.hover-hide {
	opacity: 0;
}
.hover-hide:hover {
	opacity: 1;
	-webkit-transition: opacity 100ms ;
	-moz-transition: opacity 100ms ;
	-ms-transition: opacity 100ms ;
	-o-transition: opacity 100ms ;
	transition: opacity 100ms ;
	background-color: rgba(22,22,22,0.8);
}
.title-project {
	padding:0;
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) {
		/*.col-lg-2 {
			position: absolute;
			top:0;
			}*/
		}


#dropdown-member {
	padding: 6px 35px;
}
#nav-main {
	position: relative;
}
#nav-main .dropdown {
	position: relative;
}
#nav-main .dropdown-menu{
	z-index: 3000;
}