#projects-show .page {
  padding-top: 100px;

  #footer {
  	margin-bottom: 300px;
  }
}

/* \ nav */
#nav-main-interface {
	top: 50px;
	/*
	-moz-box-shadow: 0px 5px 10px #555;
	-webkit-box-shadow: 0px 5px 10px #555;
	box-shadow: 0px 5px 10px #555;
	filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#555');
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#555')"; */

	/*Shadows look very different in IE (Only cardinal directions supported)*/
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element should have a background-color*/
	/*All filters must be placed together*/
	/*IE 7 AND 8 DO NOT
	SUPPORT BLUR PROPERTY OF SHADOWS*/
}
#nav-main-interface.navbar-inverse .navbar-nav a{
	padding: 10px;
	min-height: 60px;
	line-height: 39px;
}
#nav-main-interface.navbar-inverse .navbar-nav.friends-avatars a{
	padding: 10px 0 10px 5px;
}
#nav-main-interface.navbar-inverse .navbar-nav .infos-project a {
	padding-left: 0;
}
#nav-main-interface .nb-segments a, #nav-main-interface .friends-avatars .fa {
	color: #428bca;
}
#nav-main-interface a {
	color: #fff;
	cursor: default;
}
#nav-main-interface, #translation-bar {
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), url('styles/bg-footer-noise.jpg');
	background-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,0)), url('styles/bg-footer-noise.jpg');
	background-repeat: repeat-x, repeat;
	background-size: 100px 15px, 140px 140px;
}
/* _\ modal */

.friends-avatars li:last-child{
	font-size: 24px;
	color: #428bca;
}
.friends-avatars a{
	height: 60px;
	line-height: 40px;
	padding: 10px 5px 10px 0px;
}
.friends-avatars img {
	height:40px;
	width:40px;
	background-color: #222;
}
.friends-avatars img.offline {
	opacity: 0.3;
	border-color: #111;
}
.member-avatar {
	max-width: 80px;
	display: block;
}
#nav-main-interface .show-friends .fa {
	font-size: 28px;
	line-height: 40px;
	display: block;
	height: 40px;
}
#nav-main-interface .coworker a, #nav-main-interface .member a {
	cursor: pointer;
}
/* _/ modal */
/* / nav */

/* \ table */
#translation-document .thead .td:first-child {
	padding-left: 20px;
}
#translation-document .tbody .tr.tr-active {
	border-bottom-color: #428bca;
}
#translation-document .tbody .tr:hover,
#translation-document .tbody .tr.tr-active {
	background-color: #428bca;
	color: #ffffff;
}
#translation-document .tbody .tr:focus,
#translation-document .tbody .tr.tr-active:hover {
	background-color: #3276b1;
}
#translation-document .tbody .tr:hover .tr-wrap,
#translation-document .tbody .tr.tr-active .tr-wrap {
	border-color: #f5f5f5;
}
#translation-document .tbody .tr .td:first-child {
	color: #428bca;
}
#translation-document .tbody .tr:hover .td,
#translation-document .tbody .tr.tr-active .td {
	color: #ffffff;
}
/* / table */

/* \ popup - translator */
.popover-content img {
	max-width: 80px;
}
.translator-popover {
	height: 78px;
	float:left;
	padding: 5px;
}
.translator-popover img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:100%;
	background-color: #fff;
	border: 1px #ddd solid;
}
.translator-popover .arrow-right {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;

}
.translator-popover .arrow-right:after {
	right: 1px;
	bottom: -10px;
	border-left-color: #fff;
	border-right-width: 0;
	content: " ";
}

.translator-popover-container {
	top:-15px;
	left:-190px;
	height:100%;
	position: absolute;
}
.avatar-container {
	height:100%;
	position: relative;
}
.arrow-right-cs {
	width: 0;
	height: 0;
	margin: 21px 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 14px solid #ddd;
	right:-15px;
	position: absolute;
	top:0;
}
/* / popup - translator */

/* \ panel-document-options */

#panel-document-options {
	position:fixed;
	float:left;
	z-index: 1040;
}
/* _\ next empty segment */
.panel-content {
	position: relative;
	float:left;
}
#next-empty-segment {
	width: 60px;
	position: relative;
}
#next-empty-segment.visible-lg {
	margin-top: 57px;
}
#next-empty-segment a {
	opacity: 1;
	height:60px;
	background-color: #428bca;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 5px 0;
}
#next-empty-segment a:active {
	background-color: #3276b1;
}
#next-empty-segment i,
#next-empty-segment a {
	position: relative;
	display: block;
}
#next-empty-segment i.fa {
	font-size: 28px;
	height: 30px;
}
#next-empty-segment i:first-child {
	font-size: 16px;
	height: 20px;
}
/* /_next empty segment */

/* _\ all-empty-segment - switch btn*/


.switch#all-empty-segment {
	margin-left: 20px;
}
.switch, .switch a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
}
.switch{
	position: relative;
	background-color: #ddd;
	border-color:#ccc;
	padding: 0;
	width: 112px;
	height: 36px;
	cursor: pointer;
}
.switch a {
	position: relative;
	bottom: 1px;
	padding: 6px;
	height: 36px;
	display: block;
	width: 100%;
	line-height: 24px;
	color:#fff;
	text-align: center;
	text-decoration: none;
	width: 50%;
	border-color: #285e8e;
	background-color: #3276b1;
}
.switch a:first-child {
	float:left;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.switch a:last-child {
	float:right;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
/*  _/ all-empty-segment - switch btn */
/* / panel-document-options */

/* translation-bar */
#translation-bar {
	height: 33%;
	background-color: #222;
	padding: 10px;
	-moz-box-shadow: 0px 0px 10px 6px #c5c5c5;
	-webkit-box-shadow: 0px 0px 10px 6px #c5c5c5;
	box-shadow: 0px 0px 10px 6px #c5c5c5;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	/*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
}
#translation-bar .side-left {
	color:#fff;
	float:left;
	height: 100%;
}
#translation-bar .side-left .list-group {
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	overflow: overlay;
}
#translation-bar .side-left-wrap {
	overflow: overlay;
	height: auto;
	min-height: 100%;
	max-height: 100%;
	display: block;
	position: relative;
	float:left;
	width: 100%;
}
#translation-bar .translation-bar-main .well {
	padding: 8px;
}
#translation-bar .translation-bar-main .well blockquote{
	padding: 5px 10px;
	cursor: default;
}
#translation-bar .translation-bar-main, #translation-bar .translation-bar-main form, #translation-bar .translation-bar-main .form-group{
	height:100%;
}
#translation-bar .translation-bar-main {
	height: 100%;
}
#translation-bar .translation-bar-main .well {
	margin-bottom: 0;
	height: auto;
}
#translation-bar .translation-bar-main .well {
	color: #222;
	background-color: #e5e5e5;
}
#translation-bar .translation-bar-main #segment-original {
	padding: 8px;
	height: 48%;
}

#translation-bar .translation-bar-main textarea {
	position: relative;
	min-width: 100%;
	max-width: 100%;
	height: 48%;
	margin-top: 0%;
	top: 4%;
}
#translation-bar .side-right {
	height: 100%;
}
#translation-bar .side-right .tab-content .list-group {
	height:100%;

}
#translation-bar .side-right .tab-content .list-group-item{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#translation-bar .side-right .tab-pane{
	max-height:100%;
	overflow: overlay;
	width: 100%;
}
#translation-bar .side-right .tab-content{
	height:80%;
}
#translation-bar .side-right .nav-content {
	height: 20%;
	width: 100%;
}
#translation-bar .side-left-wrap,
#translation-bar div.tab-content {
	background-color: #fff;
}
#translation-bar div.tab-content {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#translation-bar .side-left-wrap {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#translation-bar .side-left-wrap .list-group-item, .translation-bar-main .well {
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}
#translation-bar .translation-bar-main textarea {
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-top-right-radius: 0;
}
/* /translation-bar */

