<section id="footer" class="section">
  <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2">
    <nav class="navbar">
      <ul class="nav navbar-nav navbar-left">

        <li id="copyright" class="navbar-text"><small>&copy;2013 socitrad.com All Rights Res.</small></li>
        <li class="navbar-text">
          <small>
            <select>
              <option>Lorem Ipsum</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </small>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><small>Lorem Ipsum</small></a></li>
        <li><a href="#"><small>Lorem Ipsum</small></a></li>
      </ul>
    </nav>
  </div>
</section>
<%= 
  # / div.page 
  '</div>'.html_safe
  %>